s-ramp-api/src/main/resources/s-ramp/wsdlmodel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://s-ramp.org/xmlns/2010/s-ramp"
	xmlns:s-ramp="http://s-ramp.org/xmlns/2010/s-ramp"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://s-ramp.org/xmlns/2010/s-ramp" 
	elementFormDefault="qualified" version="1.0">	
		<!--
		(c) 2010 Hewlett-Packard Company (HP), International Business Machines
		Corporation (IBM), Software AG (SAG) and TIBCO Software Inc. All
		rights reserved. Permission to copy and display the SOA Repository
		Artifact Model and Protocol (the “Specification”), in any medium
		without fee or royalty is hereby granted by Hewlett-Packard Company
		(HP), International Business Machines Corporation (IBM), Software AG
		(SAG) and TIBCO Software Inc. (collectively, the "Authors"), provided
		that you include the following on ALL copies of this document or
		portions thereof, that you make: 
		
		1. A link or URL to this document at this location:
		http://s-ramp.org/2010/s-ramp/specification/documents/{this document
		name} 
		2. The copyright notice as shown in the Specification. 
		
		The	Authors each agree to grant you a royalty-free license, under
		reasonable, non-discriminatory terms and conditions to their
		respective patents that they deem necessary to implement the "SOA
		Repository Artifact Model and Protocol” Specification, including all
		its constituent documents. THIS DOCUMENT IS PROVIDED "AS IS," AND THE
		AUTHORS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED,
		INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS
		FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE
		CONTENTS OF THIS DOCUMENT ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE
		IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY
		PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS. THE AUTHORS WILL NOT
		BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR
		CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR
		DISTRIBUTION OF THIS DOCUMENT.
	-->
	<xsd:include schemaLocation="coremodel.xsd"/>
	<xsd:include schemaLocation="xsdmodel.xsd"/>
	<xsd:include schemaLocation="policymodel.xsd"/>
	
	<xsd:complexType name="WsdlDocument">
		<xsd:complexContent>
			<xsd:extension base="s-ramp:XmlDocument">
				<xsd:sequence>
					<!-- Derived Relationships: -->
					<xsd:element name="importedXsds" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="includedXsds" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="redefinedXsds" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="importedWsdls" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="targetNamespace" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="xsdTargetNamespaces" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WsdlDerivedArtifactType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="s-ramp:DerivedArtifactType">
				<xsd:sequence>
					<!-- Modeled "extension" relationship to any wsdlExtension artifact(s) -->
					<xsd:element name="extension" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="namespace" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WsdlService">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship to Port(s) this Service has: -->
					<xsd:element name="port" type="s-ramp:target" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Port">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationships with Binding artifact: -->
					<xsd:element name="Binding" type="s-ramp:target" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Binding">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship to BindingOperation(s): -->
					<xsd:element name="bindingOperation" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
					<!-- Derived Relationship with this Binding's PortType: -->
					<xsd:element name="portType" type="s-ramp:target" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PortType">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship to this PortType's Operation(s): -->
					<xsd:element name="operation" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BindingOperation">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship to BindingOperationFault(s) for this BindingOperation: -->
					<xsd:element name="fault" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
					<!-- Derived Relationship to BindingOperationInput for this BindingOperation: -->
					<xsd:element name="input" type="s-ramp:target" minOccurs="0" maxOccurs="1" />
					<!-- Derived Relationship to BindingOperationOutput for this BindingOperation: -->
					<xsd:element name="output" type="s-ramp:target" minOccurs="0" maxOccurs="1" />
					<!-- Derived Relationship with Operation artifact: -->
					<xsd:element name="operation" type="s-ramp:target"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BindingOperationInput">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:attribute name="bindingInputNCName" type="xsd:NCName"
					use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BindingOperationFault">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Operation">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationships to OperationInput and OperationOutput for this Operation: -->
					<xsd:element name="input" type="s-ramp:target" />
					<xsd:element name="output" type="s-ramp:target" />
					<!-- Derived Relationship for fault(s) associated with this Operation: -->
					<xsd:element name="fault" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
		<!-- Only request / response is modeled -->
	</xsd:complexType>
	<xsd:complexType name="OperationInput">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship with Operation artifact: -->
					<xsd:element name="operation" type="s-ramp:target" />
					<!-- Derived Relationship with Message artifact: -->
					<xsd:element name="message" type="s-ramp:target" />
				</xsd:sequence>
				<xsd:attribute name="inputNCName" type="xsd:NCName"
					use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Fault">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship with Message artifact: -->
					<xsd:element name="message" type="s-ramp:target" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Message">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship to Part(s) of this Message: -->
					<xsd:element name="part" type="s-ramp:target" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Part">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationships with ElementDeclaraion and XSDType artifacts: -->
					<xsd:element name="type" type="s-ramp:target" minOccurs="0" maxOccurs="1" />
					<xsd:element name="element" type="s-ramp:target" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BindingOperationOutput">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:attribute name="bindingOutputNCName" type="xsd:NCName"
					use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OperationOutput">
		<xsd:complexContent>
			<xsd:extension base="tns:NamedWsdlDerivedArtifactType">
				<xsd:sequence>
					<!-- Derived Relationship with Message for this OperationOutput: -->
					<xsd:element name="message" type="s-ramp:target"/>
				</xsd:sequence>
				<xsd:attribute name="outputNCName" type="xsd:NCName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NamedWsdlDerivedArtifactType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="tns:WsdlDerivedArtifactType">
				<xsd:attribute name="NCName" type="xsd:NCName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WsdlExtension">
		<xsd:complexContent>
			<xsd:extension base="s-ramp:DerivedArtifactType">
				<xsd:attribute name="NCName" type="xsd:NCName" use="optional"/>
				<xsd:attribute name="namespace" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
