s-ramp-demos/s-ramp-demos-mvn-integration/s-ramp-demos-mvn-integration-artifacts/src/main/resources/schemas/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0"
	targetNamespace="http://sramp.overlord.org/demos/mavenIntegration/2012/09/schema/address.xsd"
	xmlns:tns="http://sramp.overlord.org/demos/mavenIntegration/2012/09/schema/address.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:complexType name="addressType">
		<xsd:sequence>
			<xsd:element name="street" type="xsd:string" />
			<xsd:element name="city" type="xsd:string" />
			<xsd:element name="state" type="xsd:string" />
			<xsd:element name="zip" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
