s-ramp-server/src/main/resources/brms/brms-5.0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="package" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:anyURI" name="assets" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="author"/>
              <xs:element type="xs:anyURI" name="binaryLink"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element name="metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="archived"/>
                    <xs:element type="xs:string" name="checkinComment"/>
                    <xs:element type="xs:dateTime" name="created"/>
                    <xs:element type="xs:string" name="state"/>
                    <xs:element type="xs:string" name="uuid"/>
                    <xs:element type="xs:byte" name="versionNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="published"/>
              <xs:element type="xs:anyURI" name="sourceLink"/>
              <xs:element type="xs:string" name="title"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="assets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="asset" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="author"/>
              <xs:element type="xs:string" name="binaryContentAttachmentFileName"/>
              <xs:element type="xs:anyURI" name="binaryLink"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element name="metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="checkInComment"/>
                    <xs:element type="xs:dateTime" name="created"/>
                    <xs:element type="xs:string" name="disabled"/>
                    <xs:element type="xs:string" name="format"/>
                    <xs:element type="xs:string" name="note"/>
                    <xs:element type="xs:string" name="state"/>
                    <xs:element type="xs:string" name="uuid"/>
                    <xs:element type="xs:byte" name="versionNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="published"/>
              <xs:element type="xs:anyURI" name="refLink"/>
              <xs:element type="xs:anyURI" name="sourceLink"/>
              <xs:element type="xs:string" name="title"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

