s-ramp-wagon/src/test/maven-projects/test-wagon-push/src/main/resources/META-INF/schemas/widget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://sramp.overlord.org/test-wagon/2012/09/schema/widget.xsd"
	version="1.0"
	xmlns:tns="http://sramp.overlord.org/test-wagon/2012/09/schema/widget.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:element name="widget">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="classname" type="xsd:string" />
				<xsd:element name="width" type="xsd:int" />
				<xsd:element name="height" type="xsd:int" />
				<xsd:element name="position" type="tns:positionType" />
			</xsd:sequence>
			<xsd:attribute name="uuid" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="positionType">
		<xsd:sequence>
			<xsd:element name="x" type="xsd:int" />
			<xsd:element name="y" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
