demos/end-to-end-use-case/xsd-wsdl-impact-analysis/src/main/resources/org/artificer/demos/endtoend/impactanalysis/sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample" targetNamespace="http://ewittman.redhat.com/sample/2012/09/wsdl/sample.wsdl"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ewittman.redhat.com/sample/2012/09/wsdl/sample.wsdl"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ext-types="urn:s-ramp:test:sample:types"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="urn:s-ramp:test:sample:types" schemaLocation="sample.xsd" />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="findRequest">
    <wsdl:part name="parameters" element="ext-types:extInput" />
  </wsdl:message>
  <wsdl:message name="findResponse">
    <wsdl:part name="parameters" type="ext-types:extOutputType" />
  </wsdl:message>
  <wsdl:message name="faultMessage">
    <wsdl:part name="message" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="emptyMessage">
  </wsdl:message>

  <wsdl:portType name="SamplePortType">
    <wsdl:operation name="find">
      <wsdl:input name="findRequest" message="tns:findRequest"></wsdl:input>
      <wsdl:output name="findResponse" message="tns:findResponse"></wsdl:output>
      <wsdl:fault name="errorFault" message="faultMessage" />
      <wsdl:fault name="unknownFault" message="faultMessage" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SampleBinding" type="tns:SamplePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="find">
      <soap:operation soapAction="" />
      <wsdl:input name="findRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="errorFault">
        <soap:fault name="errorFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="unknownFault">
        <soap:fault name="unknownFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SampleService">
    <wsdl:port binding="tns:SampleBinding" name="SamplePort">
      <soap:address location="http://localhost:8080/sample/sampleEP" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>